MONGODB_HOST=YourMongoDBClusterHere
MONGODB_USER=YourUsernameHere
MONGODB_PASSWORD=YourPasswordHere
MONGODB_USER_DATABASE=YourUserDatabaseHere
MONGODB_SESSION_DATABASE=YourSessionDatabaseHere
MONGODB_SESSION_SECRET=YourSessionSecretHere
NODE_SESSION_SECRET=YourNodeSessionSecretHere
PORT=3000
